@font-face {
  font-family: 'Ringbearer';
  src: url('@/assets/fonts/Ringbearer.ttf') format('truetype'); // IMPORTANTE: Ruta absoluta desde `public`
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Roboto', sans-serif;
}


/* Fondo general */
body {
  background-color: #263238; /* Blue Grey 900 */
  color: #F5F5F5; /* Grey 100 */
}

.ringbearer{
  font-family: 'Ringbearer', sans-serif;
}

/* Contenedores de tarjetas (mesas de juego) */
.v-sheet {
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #121212;
}

/* Pestañas activas */
.v-tab {
  color: #F5F5F5; /* Texto claro */
  background-color: #1E1E1E;
}

.v-tab--selected {
  color: white !important; /* Indigo 400 */
  background-color: #292929;
  font-weight: bold;
}
v-tabs-item{
  background-color: #1E1E1E;
}

/* Extra extra pequeño (xxs): móviles */
@media (max-width: 399px) {
  .marcador {
    font-size: 15px;
  }
}
/* Extra pequeño (xs): móviles */
@media (min-width: 400px) and (max-width: 499px) {
  .marcador {
    font-size: 20px;
  }
}

/* Extra pequeño (xs): móviles */
@media (min-width: 500px) and (max-width: 599px) {
  .marcador {
    font-size: 20px;
  }
}

/* Pequeño (sm): tablets en vertical */
@media (min-width: 600px) and (max-width: 959px) {
  .marcador {
    font-size: 24px;
  }
}

/* Mediano (md): tablets en horizontal o laptops pequeñas */
@media (min-width: 960px) and (max-width: 1263px) {
  .marcador {
    font-size: 18px;
  }
}

/* Grande (lg): pantallas grandes o monitores */
@media (min-width: 1264px) and (max-width: 1903px) {
  .marcador {
    font-size: 20px;
  }
}

/* Extra grande (xl): pantallas 4K o mayores */
@media (min-width: 1904px) {
  .marcador {
    font-size: 22px;
  }
}

